<!DOCTYPE html>
<html>
  <head>
    <title>TEST</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="../css/home.css">
    <script src='https://kit.fontawesome.com/6a043764e1.js' crossorigin="anonymous"></script> 
    <script src='../js/home.js'></script>
  </head>
  <body>
    <nav>
      <div id='navTop-section'>
        <div id='logo-section' class='nav-section'>
          <a href='/'>logo</a>
        </div>
        <div id='shop-section' class='nav-section'>
          <a href='shop'>Shop</a>
        </div>
        <div id='contact-section' class='nav-section'>
          <a href='contact'>Contact</a>
        </div>
        <div id='setting-section' class='nav-section'>
          <i class='fa-solid fa-bars'></i>
        </div>
      </div>
      <div id='navBottom-section'>
        <div id='cart-section' class='nav-section'>
          <a href='cart'><i class='fa-solid fa-cart-shopping'></i></a>
        </div>
        <div id='search-section' class='nav-section'>
          <input type='text' id='search-text' placeholder='Search'> 
        </div>
        <div id='mag-section' class='nav-section'>
          <i class='fa-solid fa-magnifying-glass'></i>
        </div>
      </div>
    </nav>
    <h3>New Drops</h3>
    <div id="slideshow_container">
      <div class="group">
        <% for(let i = 0;i < product.length && i < 5;i++) { %>
        <a href="/product?id=<%= product[i].model_image_id %>"><img src="images/<%= product[i].model_image_id %>" class="sliding-product" ></a>
        <% } %>
      </div>
      <div class="group">
        <% for(let i = 0;i < product.length && i < 5;i++) { %>
        <a href="/product?id=<%= product[i].model_image_id %>"><img src="images/<%= product[i].model_image_id %>" class="sliding-product" ></a>
        <% } %>
      </div>
    </div> 
    <h3>Summer Collection</h3>
    <% for(let i = 5;i < product.length;i += 2) { %>
      <% if(product[i] && product[i+1]) { %>
        <div class="display">
          <a href="/product?id=<%= product[i].model_image_id %>"><img src="images/<%= product[i].model_image_id %>" class="display-product" loading="lazy"></a>
          <a href="/product?id=<%= product[i+1].model_image_id %>"><img src="images/<%= product[i+1].model_image_id %>" class="display-product" loading="lazy"></a>
        </div>
      <% } %>
    <% } %>
    <div id='footer'>
      <h3>Contact Us</h3>
      <h4>
        <i class='fa-brands fa-whatsapp'></i>
        984100000
      </h4>
      <h4><i class='fa-solid fa-phone'></i>
        9840000000
      </h4>
      <h3>Address</h3>
      <h4><i class='fa-solid fa-map-pin'></i>
        Mahabauda,Kathmandu,Nepal
      </h4>
    </div>
  </body>
</html>
